html {
  /*prevents padding from adding extra width/height to the page  */
  box-sizing: border-box;
}

body {
  margin: 0;
  /* stretches thru the full height of the screen */
  min-height: 100vh;
  background-color: rgb(232, 252, 245);
}
